@font-face {
    font-family: "Outfit";
    src: url("../fonts/Outfit.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Be Vietnam Pro";
    src: url("../fonts/BeVietnamPro-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

html {
    height: 100%;
}

body {
    font-family: "Arial", sans-serif;
    font-weight: 400;
    margin: 0;
    min-height: 100%;
    color: #1c2436;
}

.banner-top, .page-header, .page-main, .page-footer {
    width: 1440px;
    margin: 0 auto;
}

/* -------------------------------------------------------------------------------- */

/* ---------------------------------------Banner----------------------------------- */

.banner-top {
    background-image: url("../images/bg-banner.png");
    background-repeat: no-repeat;
    background-color: #2a514c;
}

.banner-text {
    color: #ffffff;
    font-family: "Be Vietnam Pro", sans-serif;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.28px;
    text-align: center;
    margin: 0;
    padding: 16px 0;
    cursor: default;
}

/* -------------------------------------------------------------------------------- */

/* ---------------------------------------Header----------------------------------- */

.page-header {
    font-family: "Be Vietnam Pro", sans-serif;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.28px;
}

.header-navigation {
    display: flex;
    justify-content: space-between;
    margin: 24px 80px;
}

.header-navigation-list {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    padding-left: 69px;
}
.header-navigation-item {
    margin: 8px 16px;
}

.header-navigation-item:hover {
    border-bottom: 1px #1c2436 solid;
}

.header-navigation-item:active {
    opacity: 0.3;
}

.header-navigation-item-link {
    text-decoration: none;
    color: #000000;
}

.white-button-link {
    padding: 9px 25px;
    color: #1c2436;
    text-decoration: none;
    border: 1px #E8E7EE solid;
}

.white-button-link:hover {
    border-color: #1c2436;
}

.white-button-link:active {
    background-color: #E8E7EE;
}

/* -------------------------------------------------------------------------------- */

/* ---------------------------------Main content----------------------------------- */

.meet-section {
    width: 1280px;
    margin: 80px auto 0;
}

.meet-title {
    font-family: "Be Vietnam Pro";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.64px;
    text-align: center;
    text-transform: uppercase;
    cursor: default;
}
.meet-undertitle {
    font-family: "Outfit";
    font-size: 67px;
    line-height: 86px;
    list-style: 1.44px;
    text-align: center;
    margin: 13px 0 30px;
    cursor: default;
}

.meet-description {
    font-family: "Be Vietnam Pro";
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.36px;
    margin-bottom: 36px;
    cursor: default;
}

.browse-container {
    display: flex;
    margin: 160px auto 0;
    border-bottom: 1px #e8e7ee solid;
    padding-bottom: 48px;
    width: 1060px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.title-of-browse {
    font-family: "Outfit";
    font-size: 44px;
    line-height: 57px;
    letter-spacing: 0.96px;
    margin: 0;
    cursor: default;
}

.text-of-browse {
    font-family: "Be Vietnam Pro";
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.36px;
    margin: 0;
    margin-top: 13px;
    cursor: default;
}

.advantages-cards-list {
    list-style-type: none;
    display: flex;
    margin: 32px auto 0;
    padding: 0;
    width: 1060px;
    justify-content: space-between;
}

.advantages-cards-item {
    padding: 145px 41px 41px;
    border: 1px #E8E7EE solid;
    position: relative;
}

.advantages-cards-item-link {
    text-decoration: none;
    color: #454c5f;
}

.advantages-cards-item::before {
    position: absolute;
    content: "";
    top: 51px;
    left: 117px;
}

.advantages-cards-item:nth-child(1)::before {
    content: url("../images/icon-1.png");
}

.advantages-cards-item:nth-child(2)::before {
    content: url("../images/icon-2.png");
}

.advantages-cards-item:nth-child(3)::before {
    content: url("../images/icon-3.png");
}

.advantages-cards-item:hover {
    background-color: #e3e5eb;
    cursor: pointer;
}

.advantages-cards-item:active {
    opacity: 0.7;
}

.advantages-card-title {
    font-family: "Outfit";
    font-weight: 400;
    font-size: 23px;
    line-height: 32px;
    letter-spacing: 0.48px;
    text-align: center;
    margin: 0 0 10px;
}

.advantages-card-description {
    font-family: "Be Vietnam Pro";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: #454c5f;
    margin: 0;
}

.learn-more-link {
    display: block;
    text-decoration: none;
    font-family: "Be Vietnam Pro";
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.32px;
    text-align: center;
    color: #1c2436;
    background-color: #f6f6f9;
    width: 1060px;
    margin: 32px auto 160px;
    padding: 16px 0;
    position: relative;
}

.learn-more-link::before {
    position: absolute;
    content: url("../images/arrow-icon.svg");
    width: 10px;
    height: 10px;
    top: 16px;
    right: 22px;
}

.learn-more-link:hover {
    background-color: #e3e5eb;
}

.learn-more-link:active {
    opacity: 0.7;
}

.template-block {
    width: 1280px;
    margin: 0 auto;
}

.template-title {
    font-family: "Outfit";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1.28px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 6px;
    cursor: default;
}
.template-description {
    font-family: "Outfit";
    font-weight: 400;
    font-size: 44px;
    line-height: 57px;
    letter-spacing: 0.96px;
    text-align: center;
    margin: 0 41px 0;
    cursor: default;
}

.picture-container {
    display: grid;
    grid-template-columns: 620px 620px;
    gap: 40px;
}

.template-example {
    display: block;
}

.picture-container .template-example:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 0 auto;
    display: list-item;
}

.picture-container .template-example:last-child {
    margin-bottom: 60px;
}

.page-footer {
    background-color: #2a514c;
}

.footer-credits-container {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 39px;
    border-bottom: 1px rgba(240, 250, 248, 0.10) solid;
}

.footer-title {
    font-family: "Be Vietnam Pro";
    font-weight: 400;
    color: #ffffff;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.28px;
    margin-top: 28px;
    cursor: default;
}
.social-list {
    list-style-type: none;
    display: flex;
    gap: 16px;
    padding: 0;
}

.social-item {
    padding: 8px;
    border: 1px #ebfa9e solid;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    gap: 16px;
    align-content: center;
}

.social-item:hover .social-item-link {
    color: #ffffff;
}

.social-item-link:active {
    opacity: 0.5;
}

.social-item-link {
    color: #000000;
}

.footer-navigation-list {
    display: flex;
    font-family: "Be Vietnam Pro";
    width: 1280px;
    padding: 0 0 32px;
    margin: 40px auto 0;
    gap: 239px;
    border-bottom: 1px rgba(240, 250, 248, 0.10) solid;
}
.footer-sub-navigation-list {
    list-style-type: none;
    padding: 0;
}
.footer-sub-navigation-title {
    color: #ebfa9e;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.96px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 48px;
    cursor: default;
}
.footer-navigation-item {
    margin-top: 24px;
}

.footer-navigation-item-link {
    text-decoration: none;
    color: #ffffff;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.28px;
}

.footer-navigation-item-link:hover {
    color:#ebfa9e;
}

.footer-navigation-item-link:active {
    opacity: 0.7;
}

.autors-container {
    width: 1280px;
    margin: 32px auto 0;
    color: #f0faf8;
    font-family: "Be Vietnam Pro";
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.28px;
    cursor: default;
}

.autors {
    margin: 0;
}

.autors-name {
    color: #bfe03e;
}